.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-item {
  background-color: rgba(0, 44, 68, 0.2);
  width: 20px;
  text-align: center;
  margin: 5px;
  cursor: pointer;
}
.active {
  background-color: rgba(0, 44, 68, 0.5);
}
